#directories
.gradle
.settings
build
bin
eclipse
run
!build/libs

#files
.classpath
.project
*.launch
forge*changelog.txt
Paulscode*
CREDITS-fml.txt
LICENSE-new.txt
MinecraftForge-Credits.txt
README.txt
